@import "mixins";
@import "vars";
@import "libs";
@import "global";
@import "keyframes";

:root {
	--border-radius: 192px;
}

.header {
	height: 100vh;
	max-height: 600px;
	border-bottom-left-radius: var(--border-radius);
	position: relative;
	margin-bottom: 50px;

	&__wrapper {
		position: absolute;
		@extend %O;
		overflow: hidden;
		border-bottom-left-radius: var(--border-radius);
		z-index: -4;

		&::after {

			top: -1300px;
			left: 0;
			bottom: -1300px;
			right: -737px;
			background: url(../images/bg-pattern-intro.svg)center / cover no-repeat;
			z-index: -1;
			transition: all 2s;
			transform: scale(2.2);
			opacity: 0;
		}


		&::before {
			background: linear-gradient(90deg, $very-light-red-gradient 0%, $light-red-gradient 100%);
			width: 100%;
			@extend %O;
			z-index: -5;
		}

	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 60px;
	}

	&__actions {
		display: flex;
	}

	&__actions-btn {
		padding: 15px 40px;
	}

	&__actions-btn--login {
		color: $white;
		padding: 0;

		&:hover,
		&:focus,
		&:active {
			color: $very-dark-black-blue;
		}
	}

	&__actions-btn--signup {
		margin-left: 20px;
	}

	&__content {
		max-width: 800px;
		text-align: center;
		padding: 135px 0 150px;
		margin: 0 auto;
	}

	&__title {
		@extend %ubuntu-bold;
		font-size: 40px;
		padding-bottom: 20px;
		line-height: 140%;
	}

	&__suptitle {
		@extend %overpass-light;
		font-size: 25px;
		margin-bottom: 48px;

	}

	&__links {
		display: flex;
		justify-content: center;

	}

	&__link {
		padding: 14px 17px;
	}

	&__link+&__link {
		margin-left: 15px;
	}
}


.header.anim {
	.header__wrapper::after {
		opacity: 1;
		transform: scale(1);

	}

	.header__title {
		@include anim(-100px, 0, 1.5s, 0);

	}

	.header__suptitle {
		@include anim(-50px, 0, 1.5s, 1s);
	}

	.header__links {
		@include anim(40px, 0, 2s, 1.2s);

	}

}

.header-menu {
	margin: 0 auto 0 60px;


	&__list {
		display: flex;
	}

	&__list-item {
		font-size: 17px;
		@extend %ubuntu-regular
	}

	&__list-item+&__list-item {
		margin-left: 30px;

	}
}


.design {
	padding-top: 80px;
	margin-bottom: 60px;
	position: relative;

	&::after {
		width: calc(49% + 195px);
		right: -195px;
		top: 0;
		bottom: 0;
		max-width: 952px;
		background: url(../images/illustration-editor-desktop.svg)center / contain no-repeat;

	}


	&__title {
		text-align: center;

	}

	&__img {
		display: none;
	}

}

.structure {
	margin: 110px 0 60px;
	position: relative;

	&__intro-wrapper {
		background: linear-gradient(90deg, $very-dark-gray-blue 0%, $very-dark-desaturated-blue 100%);
		border-bottom-left-radius: var(--border-radius);
		border-top-right-radius: var(--border-radius);

	}

	&__intro-bg {
		border-bottom-left-radius: var(--border-radius);
		border-top-right-radius: var(--border-radius);
		background: url(../images/bg-pattern-circles.svg) -220px 90% / cover no-repeat;
	}

	&__intro {
		position: relative;
		margin-bottom: 50px;

		&::after {
			background: url(../images/illustration-phones.svg)center / contain no-repeat;
			top: -71px;
			bottom: -98px;
			left: -35px;
			width: 50%;
			max-width: 552px;

		}
	}

	&__intro-content {
		padding: 80px 0 90px;
		margin-left: auto;
	}

	&__items {
		margin-left: auto;

	}

	&__title {
		font-size: 37px;
		line-height: 120%;
		margin-bottom: 30px;
	}

	&__text {
		line-height: 178%;
		@extend %overpass-light;
	}

	&__content-bg {
		position: relative;
		padding: 100px 0 50px;

		&::after {
			background: url(../images/illustration-laptop-desktop.svg) center / contain no-repeat;
			width: calc(49% + 182px);
			left: -182px;
			top: 0;
			bottom: 0;
		}

	}

	&__content-img {
		display: none;
	}
}

.footer {
	background-color: $very-dark-black-blue;
	border-top-right-radius: var(--border-radius);
	padding: 72px 0 30px;

	&__inner {
		display: grid;
		grid-template-columns: 100px 1fr;
		grid-gap: 50px;
		justify-content: space-between;
		margin-bottom: 30px;
	}

}

.footer-menu {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	width: 100%;
	max-width: 650px;
	margin: 0 auto;

	&__list-title {
		margin-bottom: 30px;
		font-size: 15px;
		@extend %ubuntu-medium;

	}

	&__list-link {
		padding-bottom: 1px;
		position: relative;
		font-size: 15px;
		@extend %ubuntu-regular;
		color: $grayish-blue;

		&::before {
			background-color: $grayish-blue;
			height: 1px;
			width: 0;
			bottom: 0;
			left: 0;
			transition: $transition;
		}

		&:hover,
		&:active,
		&:focus {
			&::before {
				right: 0;
				width: 100%;
			}
		}

	}
}

.attribution {
	color: $white;
	text-align: center;


	a {
		color: $white;


		&:hover,
		&:focus,
		&:active {
			opacity: .7;
		}
	}
}

@import "media"